#counter-container{
	max-width: 710px;
	margin: 40px auto;
	padding: 20px;
	border: transparent;
	border-radius: 20px;
	box-shadow: 0px 5px 20px rgba(0,0,0,0.2);
	background-color: #F0E68C;
	text-align: center;
}

body{
	background-image: url(image1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	font-family: all;
	font-weight: bold;
	text-align: center;
	margin: 0;
	padding: 0;
	
}
h1{
	font-size: 65px;
	margin-top: 20px;
	margin-bottom: 20px;
	color: #BDB76B;
}

p{     /* I didn't put a . at the beginning beginning because this is an open tag*/
	color: black;
}

h2{
	font-size: 59px;
	color: blue;
}
button{
	border: none;
	border-radius: 5px;
	color: white;
	font-weight: bold;
	width: 200px;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 5px;
}

#increment-btn{    /*This is an attribute and I put a # at the beginning to let css specificly style it */
	background: darkred;
	font-size: 20px;
}

#save-btn{
	background: green;
	font-size: 20px;
	margin-left: 20px;

}
#save-el{
	color: black;
	font-size: 20px;
}